* {
margin:0px;
padding: 0px;
}

body {
    background:rgb(255, 220, 177);
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    word-spacing: 1.2pt;
}

h1{
    font-size: 62px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 24px;
    color:midnightblue
}

h2 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 12px;
}

h3 {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 24px;
    color: midnightblue;
}

